# Python Built-In Data Structures

## Lists

In [1]:
TA = ["Sandra"]

In [2]:
type(TA)

list

In [3]:
TA

['Sandra']

#### Indexing, slicing, appending

In [39]:
TA[0]

'Sandra'

In [40]:
LT = "Aleks"

In [41]:
type(LT)

str

In [42]:
teachers = [LT] + TA

In [43]:
teachers

['Aleks', 'Sandra']

In [44]:
print(teachers)

['Aleks', 'Sandra']

In [45]:
len(teachers)

2

In [46]:
stdts = ['Anaswara Vijayan',
 'Azad Kader',
 'Babitha Prasun',
 'Bruna Santos',
 'Bryan Dunleavy',
 'Elisa Cerdá Doñate',
 'Feras Rafeh',
 'Geneva Uy',
 'Iranel González',
 'Ivanna Pivtorak',
 'Jan Hildebrand',
 'Kaan Dural',
 'Simran Agarwal',
 'Tahora Husaini',
 'Tomas Renaudo',
 'Valentina Delgado']

#### Creating a random sample of students

In [47]:
import random

In [48]:
sample_of_students = random.sample(stdts,5)

In [49]:
sample_of_students

['Jan Hildebrand',
 'Elisa Cerdá Doñate',
 'Simran Agarwal',
 'Ivanna Pivtorak',
 'Bryan Dunleavy']

#### Appending them to "teachers"

In [50]:
teachers

['Aleks', 'Sandra']

In [51]:
teachers.extend(sample_of_students)
teachers

['Aleks',
 'Sandra',
 'Jan Hildebrand',
 'Elisa Cerdá Doñate',
 'Simran Agarwal',
 'Ivanna Pivtorak',
 'Bryan Dunleavy']

In [52]:
teachers [0]

'Aleks'

In [53]:
type (teachers)

list

#### Iterating through lists

In [54]:
for  teacher in teachers:
    print(teacher+ " is a teacher!")

Aleks is a teacher!
Sandra is a teacher!
Jan Hildebrand is a teacher!
Elisa Cerdá Doñate is a teacher!
Simran Agarwal is a teacher!
Ivanna Pivtorak is a teacher!
Bryan Dunleavy is a teacher!

In [55]:
teachers

['Aleks',
 'Sandra',
 'Jan Hildebrand',
 'Elisa Cerdá Doñate',
 'Simran Agarwal',
 'Ivanna Pivtorak',
 'Bryan Dunleavy']

In [56]:
students = ['Anaswara Vijayan',
 'Azad Kader',
 'Babitha Prasun',
 'Bruna Santos',
 'Bryan Dunleavy',
 'Elisa Cerdá Doñate',
 'Feras Rafeh',
 'Geneva Uy',
 'Iranel González',
 'Ivanna Pivtorak',
 'Jan Hildebrand',
 'Kaan Dural',
 'Simran Agarwal',
 'Tahora Husaini',
 'Tomas Renaudo',
 'Valentina Delgado']

#### Print students with names ending with o

In [57]:
name = 'Feras'

In [58]:
name [-1]

's'

In [59]:
for student in students:
    if ( student[-1]=='o'):
        print(student)

Tomas Renaudo
Valentina Delgado

#### Create two lists: "student_names" and "student_surnames"

In [60]:
sentence = 'I-am-walking'
sentence.split('-')

['I', 'am', 'walking']

In [61]:
student_names = []
student_surnames = []

In [62]:
for student in students:
    student_split = student.split()
    ## populating the first names 
    student_names.append(student_split[0])
    ## populating the seond list which contains the last names 
    student_surnames.append(student_split[-1])

In [63]:
student_names

['Anaswara',
 'Azad',
 'Babitha',
 'Bruna',
 'Bryan',
 'Elisa',
 'Feras',
 'Geneva',
 'Iranel',
 'Ivanna',
 'Jan',
 'Kaan',
 'Simran',
 'Tahora',
 'Tomas',
 'Valentina']

In [64]:
student_surnames

['Vijayan',
 'Kader',
 'Prasun',
 'Santos',
 'Dunleavy',
 'Doñate',
 'Rafeh',
 'Uy',
 'González',
 'Pivtorak',
 'Hildebrand',
 'Dural',
 'Agarwal',
 'Husaini',
 'Renaudo',
 'Delgado']

#### Print the surname for a random name

In [67]:
random_name = random.choice (student_names)

In [68]:
random_name

'Ivanna'

In [69]:
index_student = student_names.index(random_name)

In [70]:
index_student

9

In [71]:
student_surnames[index_student]

'Pivtorak'

## Dictionaries

In [72]:
ages = {
        "Aleks":28,
        "Sandra":30
       }

In [73]:
ages

{'Aleks': 28, 'Sandra': 30}

#### Accessing keys & values

In [74]:
list(ages.keys())

['Aleks', 'Sandra']

In [75]:
list(ages.values())

[28, 30]

In [76]:
ages["Aleks"]

28

In [77]:
len(ages)

2

#### Iterate through dictionary

In [78]:
for i in ages:
    print(i)

Aleks
Sandra

In [79]:
ages

{'Aleks': 28, 'Sandra': 30}

In [80]:
for teacher in ages.keys():
    print(teacher + " is " + str(ages[teacher]) + " years old.")

Aleks is 28 years old.
Sandra is 30 years old.

<b> iterating using items()

In [ ]:
ages.items()

In [81]:
for i,j in ages.items():
    print (i + " is "+ str(j) +" years old ")

Aleks is 28 years old
Sandra is 30 years old

#### Nested dictionaries

Create a dictionary of teachers. For each teacher, it stores their age, role and the city where they live.

In [101]:
teachers_dict = {
    
    "Aleks":{
        "age":18,
        "role":"LT",
        "city_residence":"Berlin"
    },
    "Sandra":{
        "age": 19,
        "role":"TA",
        "city_residence":"Mexico City"
    }
}

#### Challenge: print Sandra's role

In [108]:
teachers_dict ["Sandra"]["role"]

'TA'

In [107]:
teachers_dict ["Sandra"]["role"],teachers_dict ["Sandra"]["city_residence"]

('TA', 'Mexico City')

#### Print only t name of teachers who live in Berlin

In [86]:
for teacher in teachers_dict.keys():
    teacher_Info = teachers_dict[teacher]
    if teacher_Info["city_residence"] == "Berlin":
        print(teacher + " lives in Berlin")

Aleks lives in Berlin

## Tuples

In [87]:
teachers

['Aleks',
 'Sandra',
 'Jan Hildebrand',
 'Elisa Cerdá Doñate',
 'Simran Agarwal',
 'Ivanna Pivtorak',
 'Bryan Dunleavy']

In [88]:
teachers_tuple = tuple(teachers)

In [89]:
teachers_tuple

('Aleks',
 'Sandra',
 'Jan Hildebrand',
 'Elisa Cerdá Doñate',
 'Simran Agarwal',
 'Ivanna Pivtorak',
 'Bryan Dunleavy')

In [92]:
teachers_tuple[1] = "John"

TypeError: 'tuple' object does not support item assignment

AN ERROR HAS OCCURED BECAUSE TUPLE CAN NEVER BE CHANGED

In [93]:
teachers

['Aleks',
 'Sandra',
 'Jan Hildebrand',
 'Elisa Cerdá Doñate',
 'Simran Agarwal',
 'Ivanna Pivtorak',
 'Bryan Dunleavy']

## Set

#### Take a random sample (with replacement) of 100 numbers from 1 to 100:

In [94]:
for i in range(5):
    print(i)

0
1
2
3
4

In [95]:
random_numbers = []

for i in range(100):
    random_numbers.append(random.randint(1, 100))

In [96]:
len(random_numbers)

100

In [97]:
random_numbers

[48,
 3,
 14,
 12,
 27,
 37,
 5,
 34,
 85,
 49,
 36,
 93,
 51,
 90,
 53,
 15,
 53,
 43,
 37,
 67,
 2,
 86,
 29,
 53,
 80,
 51,
 55,
 58,
 2,
 38,
 39,
 80,
 27,
 18,
 60,
 54,
 19,
 10,
 16,
 99,
 52,
 75,
 100,
 52,
 85,
 95,
 50,
 81,
 66,
 87,
 85,
 55,
 81,
 95,
 11,
 11,
 3,
 31,
 10,
 92,
 56,
 34,
 33,
 40,
 60,
 22,
 14,
 52,
 67,
 12,
 57,
 31,
 40,
 88,
 29,
 100,
 55,
 69,
 92,
 46,
 73,
 51,
 78,
 22,
 13,
 55,
 89,
 33,
 81,
 71,
 71,
 65,
 65,
 75,
 84,
 37,
 96,
 98,
 10,
 46]

In [98]:
len(set(random_numbers))

61

### set union

In [99]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)
z

{'apple', 'banana', 'cherry', 'google', 'microsoft'}